body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    font-family: Roboto, sans-serif;
    background: #3882F6;
    border: 0 solid;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 8px 28px;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.hero .left-part {
    margin: 16px 8px 100px 32px;
}

.left-part .button {
    margin: 12px 0;
}

.hero .right-part {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 170px;
    margin: 16px 32px 100px 8px;
}

.content {
    display: flex;
    flex-direction: column;
}

.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 48px;
}

.image-and-subtext {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 120px 80px;
    text-align: center;
}

.image {
    width: 170px;
    height: 170px;
    border: 6px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 8px;
}

.subtext {
    width: 170px;
    color: #1F2937
}

.vote {
    background-color: #E5E7EB;
    padding: 140px;
}

.text-vote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.autor-vote {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action {
    background-color: #3882F6;
    margin: 120px 40px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.main-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.call-to-action button {
    border: 3px solid #F9FAF8;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 32px 0 16px;
}